body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.navbar{
  position: relative;
  height: 80px;
  overflow: hidden;
  top: 0;
  display: flex;
  align-items: center;
  background: #f1f1f1;
  width: 100%;
}
.logo{
  background: url(logo.png) no-repeat 50% 50%;
  background-size: contain;
  height: 66px; 
  
  top: 50%;
  left: 14%;
  transform: translate(-50%,-50%);

  padding: 0 40px;
  height: 60px;
  overflow: hidden;
  width: 100%;
}

.menu{
  position: absolute;
  left: 50%;
}
.menu a{
  color: #333;
  text-decoration: none;
  font-weight: 700;
  margin-left: 20px;
  transition: color 0.3s;
  text-transform: uppercase;
  font-size: large;
}
.menu a:hover{
  color: #00838f;
}

.btn{
  display: none;
  position: absolute;
  left: 90%;
}
.btn:hover > span{
  background: #00838f;
}
.btn span{
  display: block;
  margin: 6px;
  width: 40px;
  height: 3px;
  background: #333;
}
p{
  padding: 20px;
  font-size: 20px;
  text-align: justify;

}
@media only screen and (max-width : 750px) {
  .navbar{
    overflow: visible;
  }
  .menu{
    width: 100%;
    right: 0;
    position: absolute;
    left: 0%;
    top: 80px;
    background: #f1f1f1;
    overflow: hidden;
    max-height: 0;
  }
  .menu a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0;
    color: #1b1919;
   
  }
  .btn{
    display: block;
    cursor: pointer;
  }
  .show{
    max-height: 500px;
  }
}
.animated-text{
  color: black;
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translate(-50%,-50%);

  padding: 0 40px;
  height: 60px;
  overflow: hidden;
  width: 100%;
}

.line{
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
}

.line:first-child{
  animation: anim 12s infinite;
}

@keyframes anim {
  0%{
    margin-top: 0;
  }
  16%{
    margin-top: -60px;
  }
  33%{
    margin-top: -120px;
  }
  50%{
    margin-top: -180px;
  }
  66%{
    margin-top: -120px;
  }
  82%{
    margin-top: -60px;
  }
  100%{
    margin-top: 0;
  }
}


